.footer
	display block
	background $light-grey
	padding 32px 0
	&__menu
		@extend $row
		list-style none
		width 100%
		margin-bottom 16px
		li
			margin-right 12px
			&:last-child
				margin-right 0
	&__link
		color $black
		transition 0.3s
		position relative
		display block
		&:after
			content ''
			display block
			size 100% 1px
			bottom 0
			left 0
			position absolute
			background-color currentColor
			opacity 0
			transition 0.3s
		&:hover
			color $purple
			&:after
				opacity 1